# 리스트 조작하기

## 리스트에 요소 추가하기
- append: 요소 하나를 추가
- extend: 리스트를 연결하여 확장
- insert: 특정 인덱스에 요소 추가

In [1]:
a = [10, 20, 30]
a.append(100)

In [2]:
a

[10, 20, 30, 100]

In [3]:
a.extend([40, 50])

In [4]:
a

[10, 20, 30, 100, 40, 50]

In [5]:
a.insert(2, 100)

In [6]:
a

[10, 20, 100, 30, 100, 40, 50]

In [7]:
a.append([300, 400])

In [8]:
a

[10, 20, 100, 30, 100, 40, 50, [300, 400]]

## deque(반복가능한객체)

In [1]:
from collections import deque

In [2]:
a = deque([10, 20, 30])
a

deque([10, 20, 30])

In [3]:
a.append(100)

In [4]:
a

deque([10, 20, 30, 100])

In [5]:
a.popleft()
a

deque([20, 30, 100])

## 리스트 조작

In [9]:
b = []
for i in range(5):
    b.append(i*10)
    
b

[0, 10, 20, 30, 40]

In [10]:
b.reverse()

In [11]:
b

[40, 30, 20, 10, 0]

In [12]:
b.index(30)

1

In [13]:
b.count(30)

1

# 리스트의 할당과 복사

In [14]:
a = [10, 20, 30, 40, 50]
b = a

In [15]:
b.append(60)

In [16]:
a

[10, 20, 30, 40, 50, 60]

In [17]:
a is b

True

In [18]:
b = a.copy()

In [19]:
b.pop()

60

In [20]:
print(a)
print(b)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50]

# 반복문으로 리스트의 요소를 모두 출력하기

In [21]:
for i in a:
    print(i, end=' ')

10 20 30 40 50 60

In [25]:
for idx, value in enumerate(a):
    print(idx+1, '=', value, end=', ')

1 = 10, 2 = 20, 3 = 30, 4 = 40, 5 = 50, 6 = 60,

In [26]:
for idx, value in enumerate(a, start=1):
    print(idx, value)

1 10
2 20
3 30
4 40
5 50
6 60

# 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기

In [28]:
sum(a)

210

In [30]:
min(a)

10

# 리스트에 map 사용하기
map은 리스트의 요소를 지정된 함수로 처리해주는 함수입니다(map은 원본 리스트를 변경하지 않고 새 리스트를 생성합니다).
- **list(map(함수, 리스트))**
- **tuple(map(함수, 튜플))**

In [31]:
a = [10, 20, 30, 40, 50]

In [32]:
def mul(num):
    return 2 * num

In [35]:
b = list(map(mul, a))
b

[20, 40, 60, 80, 100]

In [39]:
c = [1.1, 2.2, 3.3, 4.4, 5.5]
d = list(map(int, a))
print(d)

[10, 20, 30, 40, 50]

# 2차원 리스트

In [42]:
from pprint import pprint
a = [[10, 20], [30, 40], [50, 60]]
a
pprint(a, indent=4, width=20)
print(a)

[   [10, 20],
    [30, 40],
    [50, 60]]
[[10, 20], [30, 40], [50, 60]]

In [43]:
for x, y in a:
    print(x, y)

10 20
30 40
50 60

In [44]:
for i in a:
    for j in i:
        print(j, end=' ')
    print()

10 20
30 40
50 60

In [45]:
i = 0
while i < len(a):
    x, y = a[i]
    print(x, y)
    i += 1

10 20
30 40
50 60

## 2차원 리스트 만들기

In [46]:
a = []
for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)
    
print(a)

[[0, 0], [0, 0], [0, 0]]

In [48]:
a = [[0 for j in range(2)] for i in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [51]:
a = [3, 1, 3, 2, 5]
b = []
for i in a:
    line = []
    for j in range(i):
        line.append(0)
    b.append(line)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [53]:
a = [[0] * i for i in [3, 1, 3, 2, 5]]
a

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [54]:
students = [['john', 'C', 19], ['maria', 'A', 25], ['andrew', 'B', 7]]

# 안쪽 리스트의 인덱스 1을 기준으로 정렬
print(sorted(students, key=lambda student: student[1]))
# 안쪽 리스트의 인덱스 2를 기준으로 정렬
print(sorted(students, key=lambda student: student[2]))

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]
[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

In [55]:
a = [[10, 20], [30, 40]]
b = a.copy()
b[0][0] = 500

print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

- 2차원 이상의 다차원 리스트는 리스트를 완전히 복사하려면 copy 메서드 대신 copy 모듈의 `deepcopy 함수`를 사용해야 합니다.

In [56]:
a = [[10, 20], [30, 40]]
import copy

b = copy.deepcopy(a)
b[0][0] = 500

print(a)
print(b)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]